{% extends "base.html" %}

{% block content %}
<div class="student-view">
    <!-- Welcome -->
    <div class="welcome-container-student" style="font-size: 28px;">
        <div>¡Bienvenid@!</div>
        <div> Por favor digita tu RUT y toma la foto.</div>
    </div>
    <div class="keyboard">
        <button onclick="addDigit('1')">1</button>
        <button onclick="addDigit('2')">2</button>
        <button onclick="addDigit('3')">3</button>
        <button onclick="addDigit('4')">4</button>
        <button onclick="addDigit('5')">5</button>
        <button onclick="addDigit('6')">6</button>
        <button onclick="addDigit('7')">7</button>
        <button onclick="addDigit('8')">8</button>
        <button onclick="addDigit('9')">9</button>
        <button onclick="addDigit('0')">0</button>
        <button onclick="addDigit('K')">K</button>
        <button onclick="addDigit('-')">-</button>
        <button class="backspace" onclick="removeDigit()">←</button>
    </div>



    <div class="main-content-student">
        <div class="model-container-s">
            <div class="model-row">
                <div class="input-camera-column">
                    <!--Ingresar Rut -->
                    <div id="rut-error-message" class="decision-message"></div>
                    <div class="input-group-custom-student">
                        <input type="text" id="rut" style="width: 300px" placeholder="12345678-9">
                    </div>
                    <!-- Cámara -->
                    <div class="box">
                        <div class="box-header">
                            <p class="box-title">Cámara</p>
                        </div>
                        <div class="box-body">
                            <div class="box-body d-flex justify-content-center align-items-center" id="camera-body-student">
                                <video autoplay="true" id="video-stream-student"></video>
                                <img id="captured-photo" style="display: none;" />
                            </div>
                        </div>
                    </div>


                    <div class="box take-pic" id="take-pic">
                        <div id="take-pic-label">Tomar foto</div>
                    </div>
                </div>   

                <!-- Flecha -->
                <div class="arrow">
                    <span>→</span>
                </div> 

                <!-- Decisión -->
                <div class="decision-column">                    
                    <div class="box model-decision" id="decision-box">
                        <div id="access-label">Acércate a la cámara</div>
                    </div>
                    <div id="decision-message" class="decision-message"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/rut_sender_student.js') }}"></script>
<script src="{{ url_for('static', filename='js/camara_student.js') }}"></script>
{% endblock %}
