{% extends "base.html" %}

{% block content %}
<div class="student-view">
    <!--Welcome-->
    <div class="welcome-container" style="font-size: 28px;">
        <div>¡Bienvenid@!</div>
        <div> Por favor digita tu rut y presiona enter para poder verificarte.</div>
    </div>

    <div class="main-content">
        <div class="model-container">
            <div class="model-row">

                <!--Ingresar Rut -->
                <div class="input-group-custom">
                    <input type="text" id="rut" inputmode="numeric" style="width: 300px" placeholder="12345678-9">
                </div>

                <!-- Cámara -->
                <div class="box">
                    <div class="box-header">
                        <p class="box-title">Cámara</p>
                    </div>
                    <div class="box-body" id="camera-body-camara">
                        <video autoplay="true" id="video-stream"></video>
                    </div>
                </div>

                <!-- Decisión -->
                <div class="decision-column">
                    <div class="box model-decision" id="decision-box">
                        <div id="access-label">Acércate a la cámara</div>
                    </div>
                    <div id="decision-message" class="decision-message"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/upload_image.js') }}"></script>
<script src="{{ url_for('static', filename='js/update_decision.js') }}"></script>
<script src="{{ url_for('static', filename='js/rut_sender.js') }}"></script>
<script src="{{ url_for('static', filename='js/camara_stream.js') }}"></script>

{% endblock %}
